body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 800px;
    margin: 50px auto;
    background: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h2 {
    color: #333;
    margin-bottom: 20px;
}

label {
    display: block;
    margin-bottom: 8px;
    color: #666;
}

input[type="text"],
input[type="email"],
input[type="password"],
input[type="number"],
input[type="date"],
select {
    width: 95%;
    padding: 8px;
    margin-bottom: 20px;
    border: 1px solid #ddd;
    border-radius: 4px;
}

button, .a_button {
    background-color: #007BFF;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}


button:hover, .a_button:hover {
    background-color: #0056b3;
}

.error {
    color: red;
    background: #fdd;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid red;
    border-radius: 4px;
}

.success {
    color: green;
    background: #dfd;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid green;
    border-radius: 4px;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

table, th, td {
    border: 1px solid #ddd;
}

th, td {
    padding: 10px;
    text-align: left;
}

th {
    background-color: #f4f4f4;
}

a {
    color: #007BFF;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

a.logout {
    display: inline-block;
    margin-top: 10px;
    background-color: #dc3545;
    padding: 8px 16px;
    color: white;
    border-radius: 4px;
    text-align: center;
}

a.logout:hover {
    background-color: #c82333;
}